.container {
    margin-top: 180px;
    text-align: center
  }
  
  .square {
    display: inline-block;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin: 0 60px;
    transition: transform 1s ease-out;
  }

  .square1 {
    background-color: rgb(55, 101, 255);
  }

  .square2 {
    background-color: rgb(252, 33, 33);
  }

  .square3 {
    background-color: rgb(124, 111, 47);
  }
  
  .square1:hover {
    transform: scale(0.5);
  }
  
  .square2:hover {
    transform: scale(2);
  }
  
  .square3:hover {
    transform: scale(0.5, 2.5);
  }