.container {
    margin-top: 100px;
}

.square {
    height: 50px;
    width: 50px;
    margin: 20px;
}

.square1 {
    background-color: blue;
    transition: transform 0.5s ease;
}

.square2 {
    background-color: orange;
    transition: transform 0.5s ease-in;
}

.square3 {
    background-color: purple;
    transition: transform 0.5s ease-out;
}

.container:hover .square {
    transform: translateX(300px);
}